.ManualKeyRow {
  display: inline-block;
  vertical-align: top;
  height: calc(100% - 128px);
}

.VolumeControl {
  color: var(--color-fg);
  padding: 4px 0;
}

.original {
  height: calc(100vh - 90px);
}

.compact {
  height: 150px;
}

.ManualRow1 {
  //background-color: #00ffe0;
  color: var(--color-fg);
}

.ManualRow2 {
  //background-color: #eb3cff;
  //background-color: white;
}