.ManualKey {
  width: 10px;
  height: calc(20% - 2px - 8px);
  border: solid 1px var(--color-border);
  border-radius: 3px;
  margin: 4px 5px;
  display: block;
  cursor: pointer;
  touch-action: none;
}

.ManualKeyPressed {
  filter: brightness(0.7);
  transform: scale(0.96);
}

.ManualKeyUnassigned {
  filter: brightness(0.4) grayscale(0.6);
  cursor: default;
  touch-action: auto;
}

.ManualKeyText {
  writing-mode: vertical-rl;
  font-size: 11px;
  color: var(--manual-key-fg);
  line-height: 8px;
  padding-top: 2px;
  font-weight: bold;
}