.Key {
  height: 80px;
  width: 25px;
  padding: 4px 5px;
  background-color: var(--key-white-bg);
  border: 1px solid var(--color-border);
  color: var(--key-white-fg);
  border-radius: 2px;
  display: inline-block;
  writing-mode: vertical-rl;
  font-size: 10px;
  vertical-align: top;
  text-align: end;
}

.KeyBlack {
  height: 50px;
  width: 8px;
  padding: 4px 5px;
  background-color: var(--key-black-bg);
  color: var(--key-black-fg);
  position: absolute;
  transform: translateX(-12px);
}

.KeyMiddle {
  width: 27px;
}